<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{url_for('static',filename='style.css')}}" rel="stylesheet">
  </head>
  <body>

   <img src="/static/images/jasmin2.jpg" alt="jas"> 
   <img src="/static/images/jasmin4.jpg" alt="jas"> 
   <img src="/static/images/jasmin.jpg" alt="jas"> 
   <img src="/static/images/jasmin5.jpg" alt="jas"> 
   <img src="/static/images/jasmin6.jpg" alt="jas"> 
   <img src="/static/images/jasmin7.jpg" alt="jas"> 
   <img src="/static/images/jasmin8.jpg" alt="jas"> 

   <nav>
     <li><a href="{{url_for('img')}}"><h2>Home</h2></a></li>
   </nav>

   

  </body>


</html>
