<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Error</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link href="css/style.css" rel="stylesheet"> -->
    <style>
      img {
        width: 50%;
      }
    </style>
  </head>
  <body>
   <img src="https://sfo.egressforms.com/Content/img/OhNo.png" alt="Page not found"> 
      <nav>
        <li><a href="{{ url_for('hello')}}">Home</a></li>
        <li><a href="{{ url_for('table_get')}}">Table Generator</a></li>
      </nav>

  </body>
</html>
