<!DOCTYPE html>
<html lang="en">
  <head>
    <title>welcom to my page!</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link href="css/style.css" rel="stylesheet"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <nav>
        <!-- <li><a href="{{ url_for('hello')}}">Home</a></li> -->
        <!-- <li><a href="{{ url_for('table_get')}}">Table Generator</a></li> -->
        <!-- <button type="button">Click to Wish 🥰</button> -->
        <li class="the-button"><a href="{{ url_for('roseday')}}">Click to Wish 🥰</a></li>
    </nav>
 <!-- <p><h1>HII BIG BRO</h1> <br>now computer is my lifeline timepass <br><b>HACKING is my dream</b> -->
 <!-- </p>  -->

  </body>
</html>
