@import url('https://fonts.googleapis.com/css2?family=Catamaran&family=Lato:ital,wght@0,400;0,700;0,900;1,400&display=swap');

/* font-family: 'Catamaran', sans-serif; */
/* font-family: 'Lato', sans-serif; */

body {
  background-color: #FFEFD3;
  color: #4b3000;
  font-family: 'Lato', sans-serif;
}

.container {
  background-color: #ffe3b1;
  width: 600px;
  margin: 100px auto;
  border-radius: 5px;
  padding: 25px;

  display: flex;
  justify-content: center;
}

input {
  font-family: 'Catamaran', sans-serif;
  font-size: 18px;
  border: none;
  padding: 10px;
  background: none;
  border: 0.5px solid #FE4A49;
  border-radius: 5px;
}

